<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362649743163-1uokjroeqfdu5nk1bf4ipcf72qlio9ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362649743163-1uokjroeqfdu5nk1bf4ipcf72qlio9ua</string>
	<key>API_KEY</key>
	<string>AIzaSyDzv9bd3LG4Pi9y_8k8vbnK2yKS8BCm2jw</string>
	<key>GCM_SENDER_ID</key>
	<string>362649743163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>roman.sundurov.walletmanager</string>
	<key>PROJECT_ID</key>
	<string>new-firebase-project-2b51e</string>
	<key>STORAGE_BUCKET</key>
	<string>new-firebase-project-2b51e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362649743163:ios:8d5dc609d164925cd9111e</string>
</dict>
</plist>